
.button-1 {
    background-color: black;
    color: white;
}
.button-2 {
    background-color: yellow;
}
.button-1, .button-2 {
    font-size: 28px;
    font-family: "Times New Roman", Helvetica, sans-serif;
}
